<div class="row">
    <div class="col pr-0 pl-0">

        <div *ngIf="isSelectable()" id="selectableMouseClick" class="row pointer" (click)="rowClicked()" [ngClass]="{'selectable': isSelectable()}"></div>

        <div class="">
            <div id="handRow" class="row d-flex justify-content-center pt-2">
                <ng-template ngFor let-item [ngForOf]="cards" let-i="index">
                    <app-single-card [scale]="scale" [card]="item"></app-single-card>
                </ng-template>
            </div>
        </div>


        <div class="row w-100 d-flex justify-content-end flex-row align-items-end" id="handControl">
            <div *ngIf="showingScale" class="mr-3">
                <mat-slider [(ngModel)]="scale" max="10" min="0.1" step="0.1"></mat-slider> {{scale}}
            </div>
            <button mat-raised-button color="primary" (click)="drawCard()" class="flex-grow-1 noBorderRadius">Draw (D)</button>
            <button mat-raised-button color="primary" (click)="startTurn()" class="flex-grow-1 noBorderRadius">Start Turn (T)</button>
            <button mat-raised-button color="primary" (click)="findInDeck()" class="flex-grow-1 noBorderRadius">Find in Deck (F)</button>
            <button mat-raised-button color="primary" (click)="scry()" class="flex-grow-1 noBorderRadius">Scry (S)</button>
            <button mat-raised-button color="primary" (click)="insertToken()" class="flex-grow-1 noBorderRadius">Insert Card (I)</button>
            <button mat-raised-button color="primary" (click)="untapAll()" class="flex-grow-1 noBorderRadius">Untap All (U)</button>
            <button mat-raised-button color="primary" (click)="mulligan()" class="flex-grow-1 noBorderRadius">Mulligan (M)</button>
            <button mat-raised-button color="primary" (click)="toggleShowScales()" class="flex-grow-1 noBorderRadius">Scales (Z)</button>
        </div>
    </div>
</div>