<div class="row">
    <div class="col pr-0 pl-0">

        <div *ngIf="isSelectable()" id="selectableMouseClick" class="row pointer" (click)="rowClicked()" [ngClass]="{'selectable': isSelectable()}"></div>

        <div class="">
            <div id="handRow" class="row d-flex justify-content-center">
                <ng-template ngFor let-item [ngForOf]="cards" let-i="index">
                    <app-single-card [scale]="scale" [card]="item"></app-single-card>
                </ng-template>
            </div>
        </div>


        <div class="row" id="handControl">
            <div class="col">
                <h5>Hand Scale: {{scale}}</h5>
                <mat-slider [(ngModel)]="scale" max="10" min="0.1" step="0.1"></mat-slider>
                <button mat-raised-button color="primary" (click)="drawCard()">Draw (D)</button>
                <button mat-raised-button color="primary" (click)="startTurn()">Start Turn (T)</button>
                <button mat-raised-button color="primary" (click)="insertToken()">Insert Card (I)</button>
                <button mat-raised-button color="primary" (click)="untapAll()">Untap All (U)</button>
                <button mat-raised-button color="primary" (click)="mulligan()">Mulligan</button>
            </div>
        </div>
    </div>
</div>