<div class="row min-vh-100">
    <div class="col d-flex flex-column ">
        <div class="row flex-grow-1" id="boardRow">
            <div class="col">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <ng-template ngFor let-item [ngForOf]="opponentBattlefields" let-i="index">
                            <div class="flex-grow-1">
                                <app-battlefield [ownerType]="item.ownerType"></app-battlefield>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-battlefield [ownerType]="myBattlefield.ownerType"></app-battlefield>
            </div>
        </div>
        <div id="handRow">
            <app-hand [cards]="me?.hand?.cards"></app-hand>
        </div>

    </div>
</div>