<div #scrollBottom class="min-vh-100" id="main">
    <div class="d-flex flex-column ">
        <div class="flex-grow-1" id="boardRow">
            <div class="d-flex flex-row">
                <ng-template ngFor let-item [ngForOf]="opponents" let-i="index">
                    <div class="flex-grow-1">
                        <app-battlefield [owner]="item" [battlefield]="item.battlefield" [ownerType]="BattlefieldOwnerType.Theirs"></app-battlefield>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="">
            <div class="">
                <app-stack [stack]="stack"></app-stack>
            </div>
        </div>

        <div class="flex-grow-1" [ngStyle]="getBottomRowMargin()" id="lukey">
            <app-battlefield [owner]="me" [battlefield]="me?.battlefield" [ownerType]="BattlefieldOwnerType.Mine"></app-battlefield>
            <div *ngIf="findingCards" id="findingRow" >
                <app-card-finder [cards]="findCardsEvent?.cards" [cardLocation]="findCardsEvent?.cardLocation"
                    [cardContainerManipulation]="findCardsEvent?.cardContainerManipulation"></app-card-finder>
            </div>
        </div>
        
        <div #handRow id="handRow">
            <app-hand [cards]="me?.hand?.cards"></app-hand>
        </div>

                

    </div>
</div>