#boardRow{
    background-color: aqua;
}

#handRow{
    background-color: blueviolet;
    position: fixed;
    bottom:0px;
    width:100%;
}

#main{
    background-color: blanchedalmond;
}

#lastRow{
    margin-bottom:245px;
}