#boardRow{
    /* background-color: aqua; */
}

#handRow{
    position: fixed;
    bottom:0px;
    width:100%;
}

#chat{
    position: fixed;
    left:0px;  
}

#findingRow{
    /* margin-bottom:245px; */
}