<div id="outer" [ngStyle]="getMainCardScaleCSS()">

    <!--Attachments-->
    <div *ngIf="card?.attachedCards && card?.attachedCards?.length > 0" class="d-flex justify-content-center">
        <ng-template ngFor let-item [ngForOf]="card?.attachedCards" let-i="index">
            <div [ngStyle]="getAttachmentCSS(i)" class="attachments">
                <app-single-card [scale]="scale" [card]="item" [clickable]="clickable"></app-single-card>
            </div>
        </ng-template>
    </div>


    <!--Main Card-->
    <div class="" [ngStyle]="getInnerCardScaleCSS()">

        <div class="picture" [ngStyle]="getPictureRotationCSS()">
            <img class="picture" [src]="getImgSource()">
            <div *ngIf="card?.counter" id="counterDiv">
                <h5 class="mb-0 text-center" [ngStyle]="getCounterTextCSS()">{{getCounterString(card.counter.type)}}</h5>
            </div>

            <!--Modify and Rotate Buttons-->
            <div *ngIf="!selected && canRespondToClicks()" id="nonSelectedView">
                <div class="d-flex flex-column h-100">
                    <button class="flex-grow-1 invisButton" (click)="topHalfClicked($event)"></button>
                    <button *ngIf="shouldShowBottomButton()" class="flex-grow-1 d-flex justify-content-center align-items-center invisButton"
                        (click)="bottomHalfClicked($event)">
                        <p *ngIf="inBattlefield()" id="tapText">⭯</p>
                    </button>
                </div>
            </div>
        </div>

        <!--Selected View-->
        <div *ngIf="selected" class="selectedView d-flex flex-column justify-content-center" (click)="cardClicked()">
            <!-- <div class="row flex-grow-1"> -->
                <!-- <div class="col d-flex justify-content-center flex-column"> -->
                    <app-counter-modifier [text]="getCounterString(CounterTypes.OneOne)" [counterType]="CounterTypes.OneOne" [callback]="counterModified"></app-counter-modifier>
                    <app-counter-modifier [text]="getCounterString(CounterTypes.General)" [counterType]="CounterTypes.General" [callback]="counterModified"></app-counter-modifier>
                    <!-- <div class="d-flex justify-content-center">
                        <button mat-raised-button color="primary" class="p-0 counterButtons flex-grow-1" >1/1</button>
                        <button mat-raised-button color="primary" class="p-0 counterButtons flex-grow-1" (click)="modifyOneOneCounter(1,$event)">+</button>
                        <button mat-raised-button color="primary" class="p-0 counterButtons flex-grow-1" (click)="modifyOneOneCounter(-1,$event)">-</button>
                    </div> -->
                    <!-- <button mat-flat-button color="primary" (click)="sendToGraveyard()" *ngIf="!inGraveyard()">Graveyard</button>
                            <button mat-flat-button color="primary" (click)="sendToExile()" *ngIf="!inExile()">Exile</button>
                            <button mat-flat-button color="primary" (click)="sendToHand()" *ngIf="!inHand()">Hand</button> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>

</div>