#outer{
    
}

.attachments{
    position: absolute;
}

#picture{
    width: inherit;
    height: inherit;
}

.rotated{
    transform:rotate(90deg);
}

#tapText{
    color:black;
    margin-bottom:0px;
    font-size:25px;
}

.selectedView{
    background-color: #000000d8;
    width:inherit;
    height:inherit;
    position: relative;
    top:-100%;

    z-index: 1;
}

#nonSelectedView{
    width:inherit;
    height:inherit;
    position: relative;
    top:-100%;
}

.invisButton{
    border:none;
    background: none;
}

