<div id="outer" [ngStyle]="getOuterStyles()">
    <img id="picture" [src]="card?.image_uris?.normal" [ngStyle]="getPictureRotationCSS()">

    <div *ngIf="!selected" id="nonSelectedView">
        <div class="d-flex flex-column h-100">
            <button class="flex-grow-1 invisButton" (click)="topHalfClicked()"></button>
            <button class="flex-grow-1 d-flex justify-content-center align-items-center invisButton" (click)="bottomHalfClicked()"><p *ngIf="inBattlefield()" id="tapText">⭯</p></button>
        </div>
    </div>

    <!-- <div *ngIf="!selected" id="nonSelectedView">
        <div class="row h-100">
            <div class="col ">
                <h4 style="color:red;" class="text-center">{{card?.name}}</h4>
                <p style="color:green;font-size: 26px" class="text-center">{{card?.id}}</p>
            </div>
        </div>
    </div> -->

    <div *ngIf="selected" class="selectedView d-flex" (click)="cardClicked()">
        <div class="row flex-grow-1">
            <div class="col d-flex justify-content-center flex-column">
                <!-- <button mat-button color="primary">Play</button> -->
                <button mat-flat-button color="primary" (click)="sendToGraveyard()" *ngIf="!inGraveyard()">Graveyard</button>
                <button mat-flat-button color="primary" (click)="sendToExile()" *ngIf="!inExile()">Exile</button>
                <button mat-flat-button color="primary" (click)="sendToHand()" *ngIf="!inHand()">Hand</button>
            </div>
        </div>
    </div>

</div>