#formatOptions{
    position: absolute;
    top:0px;
}

#trashFont{
    color:white;
    background-color: rgba(0, 0, 0, 0.397);
    font-size: 1rem;
}

#trashCan{
    height:50px;
}

#hand{
    padding-right:189px;
}

.turnBorder{
    border: 10px outset rgba(0, 255, 13, 0.596);
}