<div class="h-100 d-flex align-items-end flex-column turnBorder" [ngClass]="{'turnBorder':isMyTurn()}">
    <div *ngIf="ownerType == 'Theirs'" class="w-100 d-flex justify-content-center" id="hand">
        <ng-template ngFor let-item [ngForOf]="owner?.hand?.cards" let-i="index">
            <app-single-card [scale]="0.75" [card]="item" [clickable]="false" [opponentsHand]="true"></app-single-card>
        </ng-template>
    </div>
    <div class="d-flex flex-grow-1 pr-0 pl-0 h-100 w-100">

        <div class="flex-grow-1 d-flex flex-column" [ngClass]="{'justify-content-end': !isMine()}">
            <ng-template ngFor let-item [ngForOf]="rows" let-i="index">
                <app-battlefield-row class="flex-grow-1" [owner]="owner" [ownerType]="ownerType" [rowType]="item.rowType"
                    [cards]="getCards(item)"></app-battlefield-row>
            </ng-template>
        </div>
        <div class="d-flex flex-column sidePanelBackground" [ngClass]="{'flex-column-reverse': !isMine()}" id="sidePanel">
            <div class="d-flex flex-column">
                <h4 class="text-center mb-0">{{owner?.name}}</h4>
            </div>
            <div class="d-flex flex-column">

                <div class="d-flex flex-row">
                    <app-counter-modifier class="flex-grow-1" [ownerType]="ownerType" [text]="owner?.health?.amount"
                        [icon]="'favorite'" [counterType]="'Health'" [callback]="healthModified"></app-counter-modifier>
                    <app-counter-modifier class="flex-grow-1" [ownerType]="ownerType" [text]="owner?.poison?.amount"
                        [icon]="'colorize'" [counterType]="'Poison'" [callback]="poisonModified"></app-counter-modifier>
                </div>

                <div class="d-flex flex-row">
                    <div *ngFor="let item of owner?.commanderDamages?.$items | keyvalue" class="flex-grow-1">
                        <app-counter-modifier [ownerType]="ownerType" [text]="item.value.amount + ' CD'" [counterType]="'CommanderDamage'"
                            [id]="item.key" [callback]="commanderDamageModified"></app-counter-modifier>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <app-card-container [ownerType]="ownerType" [ngStyle]="getOuterStyles()" [cards]="owner?.deck?.cards"
                    [name]="'Deck'" [clickCallback]="deckClicked" [cardLocation]="'Deck'"></app-card-container>
                <app-card-container [ownerType]="ownerType" [ngStyle]="getOuterStyles()" [cards]="battlefield?.commandZone?.cards"
                    [name]="'Command Zone'" [clickCallback]="commandZoneClicked" [cardLocation]="'CommandZone'"></app-card-container>
            </div>
            <div class="d-flex">
                <app-card-container [ownerType]="ownerType" [ngStyle]="getOuterStyles()" [cards]="battlefield?.graveyard?.cards"
                    [name]="'Graveyard'" [clickCallback]="graveyardClicked" [cardLocation]="'Graveyard'"></app-card-container>
                <app-card-container [ownerType]="ownerType" [ngStyle]="getOuterStyles()" [cards]="battlefield?.exile?.cards"
                    [name]="'Exile'" [clickCallback]="exileClicked" [cardLocation]="'Exile'"></app-card-container>
            </div>
            <div id="trashCan" *ngIf="ownerType == 'Mine'" class="d-flex align-items-center" [ngClass]="{'selectable': isTrashSelectable()}"
                (click)="trashClicked()">
                <h5 class="text-center flex-grow-1" id="trashFont">Trash</h5>
            </div>
        </div>
    </div>
</div>