<div class="row h-100" style="background-color: aquamarine;">
    <div class="col d-flex">
        <div class="flex-grow-1 d-flex flex-column">
            <ng-template ngFor let-item [ngForOf]="rows" let-i="index">
                <app-battlefield-row class="flex-grow-1" [owner]="owner" [ownerType]="ownerType" [rowType]="item.rowType" [cards]="getCards(item)"></app-battlefield-row>
            </ng-template>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex">
                <app-card-container [ownerType]="ownerType" [ngStyle]="getOuterStyles()" [cards]="owner?.deck?.cards" [name]="'Deck'" [clickCallback]="deckClicked" [cardLocation]="'Deck'"></app-card-container>
                <app-card-container [ownerType]="ownerType" [ngStyle]="getOuterStyles()" [cards]="battlefield?.commandZone?.cards" [name]="'Command Zone'" [clickCallback]="commandZoneClicked" [cardLocation]="'CommandZone'"></app-card-container>
            </div>
            <div class="d-flex">
                <app-card-container [ownerType]="ownerType" [ngStyle]="getOuterStyles()" [cards]="battlefield?.graveyard?.cards" [name]="'Graveyard'"
                    [clickCallback]="graveyardClicked" [cardLocation]="'Graveyard'"></app-card-container>
                <app-card-container [ownerType]="ownerType" [ngStyle]="getOuterStyles()" [cards]="battlefield?.exile?.cards" [name]="'Exile'"
                    [clickCallback]="exileClicked" [cardLocation]="'Exile'"></app-card-container>
            </div>
        </div>
    </div>
</div>