<div class="pointer" id="main" (click)="clicked($event)" [ngStyle]="getScaleCSS()" [ngClass]="{'selectable': isSelectable()}">

    <div class="" *ngIf="cards && cards.length > 0">
        <app-single-card [scale]="scale" [card]="cards[cards.length-1]" [clickable]="false"></app-single-card>
    </div>

    <div class="d-flex flex-column justify-content-center h-100 w-100" id="titleView">
        <h5 class="text-center" id="name">{{getText()}}</h5>
    </div>

    <!--Selected View-->
    <div *ngIf="selected" class="selectedView d-flex flex-column justify-content-center">

        <button mat-raised-button color="primary" class="p-0 counterButtons noBorderRadius" (click)="findInDeckClicked()">Find</button>
        <div class="d-flex ">
            <button mat-raised-button color="primary" class="p-0 counterButtons noBorderRadius" (click)="scryClicked($event)">Scry</button>
            <p class="amountText mb-0">{{amountToPutCard}}</p>

            <button class="invisButton smallButtons flex-grow-1 noBorderRadius" (click)="modifyAmount($event,1)" mat-flat-button>+</button>
            <button class="invisButton smallButtons flex-grow-1 noBorderRadius" (click)="modifyAmount($event,-1)" mat-flat-button>-</button>
        </div>

        <button mat-raised-button color="accent" class="p-0 counterButtons noBorderRadius" (click)="importClicked()">Import</button>
        <button mat-raised-button color="accent" class="p-0 counterButtons noBorderRadius" (click)="shuffleClicked()">Shuffle</button>
    </div>

    <div *ngIf="isSelectable() && this.cardLocation=='Deck'" id="topBottomButtons" class="h-100 w-100 d-flex flex-column ">
        <app-counter-modifier [text]="amountToPutCard + ' from'" [counterType]="'General'"
        [callback]="amountToPutCardModified"></app-counter-modifier>

        <button id="topButton" class="flex-grow-1 noBorderRadius topButtonFont p-0" (click)="topHalfClicked($event)"><span class="d-block topButtonInnerText">Top</span></button>

        <button class="flex-grow-1 noBorderRadius topButtonFont p-0" (click)="bottomHalfClicked($event)"><span class="d-block topButtonInnerText">Bottom</span></button>
    </div>

</div>