<div class="pointer" id="main" (click)="clicked($event)" [ngStyle]="getScaleCSS()" [ngClass]="{'selectable': isSelectable()}">

    <div class="" *ngIf="cards && cards.length > 0">
        <app-single-card [scale]="scale" [card]="cards[cards.length-1]" [clickable]="false"></app-single-card>
    </div>

    <div class="d-flex flex-column justify-content-center h-100 w-100" id="titleView">
        <h5 class="text-center" id="name">{{name}} ({{cards?.length}})</h5>
    </div>

    <!--Selected View-->
    <div *ngIf="selected" class="selectedView d-flex flex-column justify-content-center">
        <div>
            <button mat-raised-button color="primary" class="p-0 counterButtons flex-grow-1" (click)="importClicked()">Import</button>
            <button mat-raised-button color="primary" class="p-0 counterButtons flex-grow-1" (click)="findInDeckClicked()">Find</button>
            <button mat-raised-button color="primary" class="p-0 counterButtons flex-grow-1" (click)="insertClicked()">Insert</button>
        </div>
    </div>

    <div *ngIf="isSelectable() && this.cardLocation=='Deck'" id="topBottomButtons" class="h-100 w-100 d-flex flex-column">
        <button class="flex-grow-1 invisButton" (click)="topHalfClicked($event)">Top</button>
        <button class="flex-grow-1 invisButton" (click)="bottomHalfClicked($event)">Bottom</button>
    </div>

</div>