/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





.selectable{
    background-color: rgba(255, 255, 0, 0.459);
    border: 1px #0000003d solid;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.yellowWarningBorder{
    border: 5px dashed #7D7D7D;
}

.noBorderRadius{
    border-radius: 0px !important;
}

.sidePanelBackground{
    background-color: #e0d1c7;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.brightFont{
    color:white;
}
.mutedFont{
    color:#ffffff33;
}