/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }





.selectable{
    background-color: rgba(255, 255, 0, 0.459);
    border: 1px #0000003d solid;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.yellowWarningBorder{
    border: 5px dashed #7D7D7D;
}

.noBorderRadius{
    border-radius: 0px !important;
}

.sidePanelBackground{
    background-color: aliceblue
}