<div class="h-100 d-flex" id="cardRow" (click)="rowClicked()" [ngClass]="{'selectable': isSelectable()}">

    <div class="d-flex flex-row flex-grow-1 justify-content-center" style="position: relative;">
        <!-- <div *ngIf="isSelectable()" id="selectableMouseClick" class="row pointer" >
        </div> -->

        <div id="formatOptions" *ngIf="showingScale">
            <mat-slider [(ngModel)]="scale" max="3" min="0.1" step="0.25" (input)="scaleChanged($event)"></mat-slider>
            <span class="mutedFont">{{scale}}</span>
        </div>


        <div *ngIf="!cards || cards.length < 1" class="flex-grow-1 d-flex align-items-center justify-content-center">
            <h5 id="rowTypeText" class="mb-0 text-center mutedFont">{{rowType}}</h5>

        </div>




        <div *ngIf="cards && cards.length > 0" class="row d-flex justify-content-center">
            <ng-template ngFor let-item [ngForOf]="cards" let-i="index">
                <app-single-card [scale]="scale" [card]="item" [clickable]="areCardsClickable()"></app-single-card>
            </ng-template>
        </div>
    </div>



</div>