#formatOptions{
    position: absolute;
    top:0px;
}

#cardRow{
    min-height: 100px;
}


#selectableMouseClick{
    width:100%;
    height:100%;
    position: absolute;
    /* top:-100%; */
}